*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container-fluid1{
    padding: 0;
    margin: 0%;
    background-color: rgb(252, 252, 241);
}


.navegacion{
    background-color: lightpink;
    height: 150px;
}

.logo{
	background-image:url("images/logoweb.png");
	height: 110px;
    width: 110px;
    margin-right: 0px;
    margin-bottom: 0px;
} 

.section{
    padding: 5px;
    margin: 5px;
}

.imagenes{
    padding: 5px;
    margin: 30px;
    margin-right: 20px;
}


.i, .m, .v, .mu, .vi, .ima{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: palevioletred;
    font-size: 50px;
}

.multimedia{
    margin: 5px;
    padding: 5px;
}

.w3-container{
    width: 600px;
}

.row{
    background-color: #FFC0CB;
    color: #FFC0CB;
}

.click{
    font-size: 25px;
    font-family: 'Bitter', serif;
}

.footer{
    height: 150px;
    background-color: lightpink;
}
.c{
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    color: palevioletred;
    text-align: center;
}


